FactoriesCreator/obj/Debug/MainPage.g.cs
FactoriesCreator.Web/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FactoriesCreator.Web/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FactoriesCreator.Web/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FactoriesCreator/Bin/Debug/FactoriesCreator.xap
FactoriesCreator/Bin/Debug/FactoriesCreatorTestPage.html
FactoriesCreator/Bin/Debug/GalaSoft.MvvmLight.Extras.xml
FactoriesCreator/Bin/Debug/GalaSoft.MvvmLight.xml
FactoriesCreator/Bin/Debug/Microsoft.Practices.ServiceLocation.xml
FactoriesCreator/Bin/Debug/System.ComponentModel.DataAnnotations.xml
FactoriesCreator/Bin/Debug/System.Windows.Controls.Data.Input.xml
FactoriesCreator/obj/Debug/App.g.cs
FactoriesCreator/obj/Debug/App.g.i.cs
FactoriesCreator/obj/Debug/FactoriesCreator.csproj.FileListAbsolute.txt
FactoriesCreator/obj/Debug/FactoriesCreator.g.resources
FactoriesCreator/obj/Debug/MainPage.g.i.cs
FactoriesCreator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
FactoriesCreator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
FactoriesCreator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
FactoriesCreator/obj/Debug/Views/FactoryCreatorView.g.cs
FactoriesCreator/obj/Debug/Views/FactoryCreatorView.g.i.cs
FactoriesCreator/obj/Debug/XapCacheFile.xml
